<a href="https://colab.research.google.com/github/rosiekwon/smart_healthcare/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas
- 데이터 분석을 위한 python 라이브러리

- Series : index와 value로 이루어짐
- DataFrame : index, column value로 이루어짐

### Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
test = pd.Series(np.random.randint(10,size=5),index=list('ABCDE'))
test

A    7
B    7
C    4
D    2
E    5
dtype: int64

In [ ]:
test2 = pd.Series({'Reinforcement learning':'game AI', 'Supervised learning':'classification','Unsupervised learning':'clustering'})
test2

Reinforcement learning           game AI
Supervised learning       classification
Unsupervised learning         clustering
dtype: object

In [ ]:
#Series데이터 선택
test[2:]

C    4
D    2
E    5
dtype: int64

In [ ]:
test[::-1] #역순

E    5
D    2
C    4
B    7
A    7
dtype: int64

### DataFrame

In [ ]:
data = {
    'name':['A','B','C'],
    'class':['math','science','english']
}
data

{'name': ['A', 'B', 'C'], 'class': ['math', 'science', 'english']}

In [ ]:
df = pd.DataFrame(data)
df

  name    class
0    A     math
1    B  science
2    C  english

In [ ]:
df.values

array([['A', 'math'],
       ['B', 'science'],
       ['C', 'english']], dtype=object)

In [ ]:
df.index=['1번','2번','3번']
df

   name    class
1번    A     math
2번    B  science
3번    C  english

DataFrame data 선택

In [ ]:
df = pd.DataFrame(data)
df.loc[2]

name           C
class    english
Name: 2, dtype: object

In [ ]:
df.loc[0]['class']

'math'

In [ ]:
df.iloc[1,0]

'B'

loc로 데이터 추가

In [ ]:
df.loc[3]={'name':'D','class':'history'}
df

  name    class
0    A     math
1    B  science
2    C  english
3    D  history

In [ ]:
#column 리스트 확인
list(df.columns)

['name', 'class']

In [ ]:
#column 추가
df['age']=[30,15,20,35]
df

  name    class  age
0    A     math   30
1    B  science   15
2    C  english   20
3    D  history   35

조건으로 dataframe 선택

In [ ]:
df[df['age']>15]

  name    class  age
0    A     math   30
2    C  english   20
3    D  history   35