<a href="https://colab.research.google.com/github/rosiekwon/smart_healthcare/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas
- 데이터 분석을 위한 python 라이브러리
- R보다 Pandas의 학습, 성능, 활용분야 등이 좋음

- Series와 DataFrame
  - Series : index와 value로 이루어짐
  - DataFrame : index, column, value로 이루어짐

In [1]:
import numpy as np
import pandas as pd

In [3]:
test = pd.Series(np.random.randint(10, size=5),index=list('ABCDE'))
test

A    9
B    3
C    8
D    4
E    0
dtype: int64

In [4]:
test.index, test.values

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([9, 3, 8, 4, 0]))

##### Series 데이터 선택

In [5]:
test['A']

9

In [6]:
test.A

9

##### Series Indexing

In [7]:
test[2:]

C    8
D    4
E    0
dtype: int64

In [8]:
test[::-1]

E    0
D    4
C    8
B    3
A    9
dtype: int64

### DataFrame 생성

In [9]:
# dict안에 list로 value 생성
data = {
    "name":['Minhyeok', 'Seojun','Juyoung'],
    "class":['python', 'RNN','practice']    
       }
data

{'name': ['Minhyeok', 'Seojun', 'Juyoung'],
 'class': ['python', 'RNN', 'practice']}

In [11]:
df = pd.DataFrame(data,index=["a","b",'c'])
df # key값이 column

       name     class
a  Minhyeok    python
b    Seojun       RNN
c   Juyoung  practice

In [16]:
print(df.index)
print(df.values)

Index(['a', 'b', 'c'], dtype='object')
[['Minhyeok' 'python']
 ['Seojun' 'RNN']
 ['Juyoung' 'practice']]

In [17]:
#index변경
df.index = [1,2,3]
df

       name     class
1  Minhyeok    python
2    Seojun       RNN
3   Juyoung  practice

In [19]:
#row 선택 후 특정 컬럼 선택
df.loc[1]["class"]

'python'

In [20]:
#column 선택
df['name']

1    Minhyeok
2      Seojun
3     Juyoung
Name: name, dtype: object

In [22]:
#column 추가
df['age'] = [30, 15, 25]
df

       name     class  age
1  Minhyeok    python   30
2    Seojun       RNN   15
3   Juyoung  practice   25

#### 조건을 통해 Dataframe 선택

In [23]:
df[df['age']>25]

       name   class  age
1  Minhyeok  python   30