<a href="https://colab.research.google.com/github/rosiekwon/smart_healthcare/blob/main/Basic_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 01. Loop

For 문

In [3]:
# for문 사용하여 최대공약수 구하기
a = int(input('첫번째 숫자:'))
b = int(input('두번째 숫자:'))

for i in range(max(a,b),1,-1): #-1은 거꾸로 
  if a % i ==0 and b % i ==0:
    print(f'최대공약수는 {i}입니다')
    break
  else:
    continue

첫번째 숫자:24
두번째 숫자:36
최대공약수는 12입니다

In [15]:
member = [['VVIP',50000],['VIP',30000],['Platinum',20000],['Family',10000]]

for key, value in member:
    print(f'{key}등급입니다')
    if key == 'VVIP' or key == 'VIP':
      print('발렛파킹이 가능합니다')
    elif key == 'Platinum':
      print('우대주차장에 주차가 가능합니다')
    else:
      print('지하 12층으로 가세요')

VVIP등급입니다
발렛파킹이 가능합니다
VIP등급입니다
발렛파킹이 가능합니다
Platinum등급입니다
우대주차장에 주차가 가능합니다
Family등급입니다
지하 12층으로 가세요

While 문

In [16]:
#10! factorial 계산하기
i = 1
factorial = 1

while i<10:
  factorial = factorial * i 
  i = i+1

print(f'10!은 {factorial}입니다')

10!은 362880입니다

In [32]:
#각자리수합 계산하기

num = int(input('숫자를 입력하세요'))
sum = 0

while num > 0:
  digit = num%10
  sum += digit
  num //= 10

print(f'자리 수의 합은 {sum}입니다.')

숫자를 입력하세요2134
자리 수의 합은 10입니다.

## 02. Function

In [33]:
def score(test):
  point = 0
  for s in test:
    point+=s
  return point

In [34]:
test = [100,50,40,70,80,30]
print(score(test))

370

가변인수 - 파라미터 수를 특정할 수 없을 경우 사용
* *args는 가변길이 인수 전달, 튜플타입
* **kwargs는 키워드 인수전달, 딕셔너리 타입

In [39]:
def hap(num,*args, **kwargs):
  print(type(num),num)
  print(type(args),args)
  print(type(kwargs),kwargs)

hap(1,2,3,5,num1=5,num2=9)

<class 'int'> 1
<class 'tuple'> (2, 3, 5)
<class 'dict'> {'num1': 5, 'num2': 9}

In [41]:
def multiply(n1,n2,n3):
  return n1*n2**n3

ls = [2,3,4]
multiply(*ls)

162