<a href="https://colab.research.google.com/github/rosiekwon/smart_healthcare/blob/main/Basic_python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 01. Function

In [1]:
#OTP 생성기
def genPass():
  import random
  num = '0123456789'
  password = ''

  for i in range(6):
    idx = random.randrange(len(num))
    password += num[idx]
  
  return password

genPass()

'590342'

In [2]:
Is = ['python','is','fun']
" ".join(Is) #list안의 데이터 한칸씩 띄우고 합치기

'python is fun'

함수 선언할때 함수에 대한 설명 ; docstring

In [3]:
def exam_doc(subj):
  """
  함수에 대한 설명 (docstring)
  """
  return None

In [5]:
exam_doc.__doc__

'\n  함수에 대한 설명 (docstring)\n  '

local & global variable

In [6]:
def exam():
  print(global_v)
  return None

global_v= '수박'
exam()

수박

In [8]:
def exam2():
  global_v= '바나나'
  print(global_v)
  return None

exam2()

바나나

In [10]:
def exam3():
  global global_v #함수 밖에서 선언된 변수를 가져올때 사용
  global_v= '바나나' 
  print(global_v)
  return None

global_v= '수박'
exam3()

바나나

call back 함수
- 함수를 args 파라미터로 설정해서 사용
- 함수가 다른 함수를 호출하여 결과값을 실행
  - 재귀함수에서 잘 사용됨

In [12]:
def calc(func,a,b):
  return func(a,b)

def add(a,b):
  return a+b

def mul(a,b):
  return a*b

In [13]:
calc(add,2,3), calc(mul,4,5)

(5, 20)

In [14]:
def factorial(n):
  if n == 1:
    return 1
  return n*factorial(n-1)

print(factorial(5))

120

lambda function 
- 파라미터를 간단한 계산으로 리턴

In [16]:
add = lambda a,b: a+b # parameter : return
add(4,5)

9

문자열 가운데 출력

In [21]:
text = 'start up university'
a = int(len(text)/2)
print('middle text:',text[a])

middle text: u

map 함수
- 순서가 있는 데이터 집합에서 모든 값에 함수를 적용시켜 결과를 출력

In [23]:
ls = [1,2,3,4]
def odd_even(n):
  return "odd" if n%2 else "even"

list(map(odd_even,ls))

['odd', 'even', 'odd', 'even']

In [26]:
ls2 = [5,6,7,8,9,10]

result = map(lambda x:2*x,ls2)
print(list(result))

[10, 12, 14, 16, 18, 20]

In [30]:
num = input('insert numbers:')
res = num.split(" ")
res = list(map(int,res))
res

insert numbers:3 4 5 6

[3, 4, 5, 6]

filter 함수
- list 데이터에서 특정 조건에 맞는 것만 출력

In [31]:
ls = range(10)
list(filter(lambda x: True if x%2 else False, ls))

[1, 3, 5, 7, 9]

reduce 함수
 - reduce(f, iterable)은 f함수를 iterable에 연속적으로 적용하여 값을 반환
 - list 데이터를 처음부터 순서대로 특정 함수를 실행하여 결과를 누적

In [33]:
from functools import reduce
ls = [3,4,5,6]
reduce(lambda x,y:x+y,ls)

18

## 02. Class

class 
- 변수와 함수를 묶어놓은 개념
- 클래스 선언 시 변수와 함수를 클래스 안에서 선언
- instance : 클래스에서 만들어지는 개별적인 과제

In [34]:
class Account:
  loan = 0
  deposit = 0

  def save(self,money):
    self.deposit += money
    print('현재 계좌 잔액은 {}원 입니다'.format(self.deposit))
  def withdraw(self,money):
    self.deposit -= money
    print('인출 금액은 {}원 입니다. 현재 계좌 잔액은 {}원 입니다'.format(money, self.deposit))

In [36]:
acc = Account()
acc.loan = 100
acc.deposit

0

생성자
- 클래스의 인스터스 객체가 생성될 때 자동으로 호출되는 메소드
- 생성자는 객체의 인스턴스 변수들을 정의하고 초기화함

In [37]:
class Account:

  def __init__(self,loan=0): #생성자
    self.deposit=0
    self.loan = loan
    print('계좌가 개설되었습니다')

  def save(self,money):
    self.deposit += money
    print('현재 계좌 잔액은 {}원 입니다'.format(self.deposit))
  def withdraw(self,money):
    self.deposit -= money
    print('인출 금액은 {}원 입니다. 현재 계좌 잔액은 {}원 입니다'.format(money, self.deposit))

In [38]:
acc3 = Account()

계좌가 개설되었습니다

In [39]:
acc3.loan = 500
acc3.loan

500

소멸자 
- 객체가 사라질때 자동으로 호출되는 함수 (잘 사용되지 않음)

In [ ]:
class Account:

  def __init__(self,loan=0): #생성자
    self.deposit=0
    self.loan = loan
    print('계좌가 개설되었습니다')

  def save(self,money):
    self.deposit += money
    print('현재 계좌 잔액은 {}원 입니다'.format(self.deposit))
  def withdraw(self,money):
    self.deposit -= money
    print('인출 금액은 {}원 입니다. 현재 계좌 잔액은 {}원 입니다'.format(money, self.deposit))

  def debt(self,money):
    self.deposit -= money
    print('인출 금액은 {}원 입니다. 현재 계좌 잔액은 {}원 입니다'.format(money, self.deposit))


  def __del__(self): #소멸자
    print('계좌가 폐쇄되었습니다')